-i https://pypi.org/simple/
django-appconf==1.0.4
django-compressor==2.3
django-constance[database]==2.4.0
django-hamlpy==1.2
django-picklefield==3.0.1
django==2.2.8
djangorestframework==3.9.4
pillow==8.2.0
pytz==2021.1
qrcode[pil]==6.1
rcssmin==1.0.6
regex==2021.4.4
rjsmin==1.1.0
six==1.16.0
sqlparse==0.4.1
