{% extends '__base.haml' %}

{% block 'content' %}
.container-fluid
    .row
        .col-xs-12
            {% block  'main-col' %}
            {% endblock %}

    .row
        .col-xs-12
            {% block 'footer' %}
            {% endblock %}
{% endblock %}