{%extends '__l_base.html' %}
-block 'title'
    {{block.super}} | Sample Page

/example usage
-block 'main-col'
    .well
        %button#upload.col-xs-12.btn.btn-primary.btn-lg
            Upload
        %input#file{type:'file',accept:'image/*', capture:'camera'}

        /type="file" accept="image/*" id="file" capture="camera"

    :javascript
        $('#file').hide()
        $(document).ready(function(){

        $('#upload').click(function(){
            $('#file').click()
            var formData = new FormData($('form')[0]);
            console.log(formData)

        });
        });