{%extends '__l_base.html' %}
{% load staticfiles %}
-block 'title'
    {{block.super}} | Sample Page

/example usage
-block 'main-col'



        /%
    - if thanks
        .alert.alert.info
            {{thanks}}
    %form{action:'{%url "snapit_upload"%}', method:'POST', enctype:"multipart/form-data"}
        {{form.as_p}}
        /%input{type:'file',accept:'image/*', capture:'camera', name:'{{form.file.html_name}}', id:'{{form.file.id_for_label}}'}
        {% csrf_token %}

    %center
        .row
            .col-xs-10.col-xs-offset-1.camera.col-md-4.col-md-offset-4
                %img{src:'{%static "img/camera.png" %}'}




        /type="file" accept="image/*" id="file" capture="camera"


    .row
        .col-lg-2.col-lg-offset-5.well.col-xs-10.col-xs-offset-1
            %a#upload.btn.btn-block.form-control{href:'{%url "snapid_view" %}'}
                    Bilder hinzufügen
            %a.btn.btn-block.btn-primary.form-control{href:'{%url "snapid_view" %}'}
                    Bilder anzeigen
    .row
        .col-xs-2.col-xs-offset-5



    %script{type:'text/javascript', src:'{%static "js/main.js" %}'}
