{%extends '__l_base.html' %}
{% load staticfiles %}
-block 'title'
    {{block.super}} | Sample Page

/example usage
-block 'main-col'



        /%
    - if thanks
        .alert.alert.info
            {{thanks}}
    %form{action:'{%url "snapit_upload"%}', method:'POST', enctype:"multipart/form-data"}
        {{form.as_p}}
        /%input{type:'file',accept:'image/*', capture:'camera', name:'{{form.file.html_name}}', id:'{{form.file.id_for_label}}'}
        {% csrf_token %}

    %center
        %img#upload{src:'{%static "img/camera.png" %}'}




        /type="file" accept="image/*" id="file" capture="camera"


    %script{type:'text/javascript', src:'{%static "js/main.js" %}'}

