{%extends '__l_base.html' %}
{% load staticfiles %}
-block 'main-col'
    .image-container
        %img{src:"{%static 'img/camera.png' %}"}


    :javascript
        var url = '{%url 'snapit_picture' %}'
        var image = ''
        $(document).ready(function(){

           window.setInterval("loadImage()", 2000);


        });

        var count = 0;
        function loadImage(){


            $.ajax({
                url:url,
                success: function(data){
                    if(image!=data){
                        image = data;
                        changeImage('/media/'+data);
                    }

                }


            });


        }

        function changeImage(src){
            var img = $('.image-container img');
            img.addClass('magictime puffOut');

            setTimeout(function(){
                img.attr('src',src)
            }, 500);


            setTimeout(function(){
                img.removeClass('magictime puffOut');
                img.addClass('magictime puffIn');
            }, 500);



        }