{%extends '__base.html' %}
{% load staticfiles %}
-block 'content'
    .image-container
        %img{src:"", data-adaptive-background:"", }


    :javascript

        var url = '{%url 'snapit_picture' %}'
        var image = ''
        $(document).ready(function(){

            window.setInterval("loadImage()", 10000);
            $('.image-container').height(window.innerHeight);


        });


        var count = 0;
        function loadImage(){

            $.ajax({
                url:url,
                success: function(data){
                    if(image!=data){
                        image = data;
                        changeImage('/media/'+data);
                    }
                }
            });
        }

        function changeImage(src){
            $('.image-container img').css('max-height', window.innerHeight);

           //$('body').css({'background-image': "url('"+ src +"')" , 'background-size':'cover'})
            var img = $('.image-container img');





                img.attr('src',src)






        }
